/*
    Dropcaps
    We've also added a color override .dropcap.--dc-colorName-XXX
    This has been added through Solus Tachyons.
  */
  .dropcap > p:first-of-type::first-letter {
    z-index: 10;
    display: inline-block;
    float: inline-start;
    color: var(--brand-cyan-dk);
     font-weight: normal;
    font-size: clamp(2rem, 2.5rlh, 2.5rlh);
    font-family: var(--serif);
    font-style: normal;
    margin-block: -.7ch;
    padding-block: 0;
    padding-inline: 0.05ch;
  }
