
hr {
   --flare-radius: 3ch;

    display: block;
    width: 100%;
    margin-block: calc(var(--flare-radius) * 1.5);
    height: var(--flare-radius);
    overflow: visible; /* For IE */
      text-align: center;
    border-color: var(--dropcap-color, var(--brand-cyan-dk));
    border-color: color-mix(in srgb, var(--dropcap-color, var(--brand-cyan-dk)) 25%, transparent);
    border-style: solid;
    border-width: 1px 0 0;
    border-radius: calc(var(--flare-radius) - 5px);
    opacity: 0.9;
}

hr::before {
    display: block;
    height: var(--flare-radius);
    margin-top: calc(-1 * var(--flare-radius));
    border-color: var(--dropcap-color, var(--brand-cyan-dk));
    border-color: color-mix(in srgb, var(--dropcap-color, var(--brand-cyan-dk)) 25%, transparent);
    border-style: solid;
    border-width: 0 0 1px;
    border-radius: var(--flare-radius);
    content: "";

}

hr::after {
  position: relative;
    top: calc(calc(var(--flare-radius) / 2)* -1);
    display: inline-block;
    font-size: 2ch;
    font-family: system-ui;
    text-align: center;
    background: var(--brand-lt);
    border: 1px solid var(--dropcap-color, var(--brand-cyan-dk));
    border-color: color-mix(in srgb, var(--dropcap-color, var(--brand-cyan-dk)) 50%, transparent);
    border-radius: var(--br-circle);
    content: "🍂" / "";
    inline-size: var(--flare-radius);
    block-size: var(--flare-radius);
}
