blockquote {
  position: relative;
  z-index: 0;
  font-size: var(--f2);
  font-family: var(--serif);
  font-style: italic;
  line-height: 1.2;
  border-left: .35rem solid var(--dropcap-color, var(--brand-cyan-dk));
  quotes: '“' '”' '‘' '’';
  padding-inline: 2cap 1cap;
  padding-block: .5cap .5cap;
  max-inline-size: 100%;
  max-block-size: 100%;
}

blockquote * {
 font-size: inherit;
 font-family: inherit;
 font-style: inherit;
 line-height: inherit;
}


blockquote cite {
  display: block;
  font-size: var(--f5);
  padding-block-start: 2cap;
}

blockquote cite::before {
  content: "— " /"";
}

blockquote::before,
blockquote::after {
  position: absolute;
  z-index: -1;
  display: block;
  color: var(--dropcap-color);
  font-size: var(--f-headline);
  font-family: inherit;
  font-style: inherit;
  line-height: inherit;
  opacity: .5;
  inset-inline-end: 0;
  inset-block-end: 0;
}

blockquote::before {
  top: 0;
  left: 0;
  content: "“";
}

blockquote::after {
  right: 0;
  bottom: 0;
  content: "”";
}


q {
  display: block;
  font-family: var(--serif);
  font-style: italic;
  border-top: 1px solid var(--dropcap-color, var(--brand-cyan-dk));
  border-bottom: 1px solid var(--dropcap-color, var(--brand-cyan-dk));
  quotes: '“' '”' '‘' '’';
  padding-block: 1em;
  padding-inline: 1em;
  margin-block: 1em;
}

