.gap-0 {
  gap: var(--spacing-0, 0);
}

.gap-1 {
  gap: var(--spacing-1, 0.25rem);
}

.gap-2 {
  gap: var(--spacing-2, 0.5rem);
}

.gap-3 {
  gap: var(--spacing-3, 1rem);
}

.gap-4 {
  gap: var(--spacing-4, 2rem);
}

.gap-5 {
  gap: var(--spacing-5, 4rem);
}

.gap-6 {
  gap: var(--spacing-6, 8rem);
}

.gap-7 {
  gap: var(--spacing-7, 16rem);
}

.poly-transition {
  transition: clip-path 1s ease-in-out;
}

.poly-1 {
  backface-visibility: hidden;
  clip-path: polygon(2% -10%, 101.5% 7%, 98.3% 116%, -0.5% 95%)
}

.poly-2 {
  backface-visibility: hidden;
  clip-path: polygon(0% 0%, 50% 1em,100% 0, 100% 66%, 99% 100%, 0.8% 98%, 0% 70%);
}

@media screen and (max-width: 600px) {
    .poly-1 {
    clip-path: polygon(0% -10%, 101.5% 7%, 100% 116%, -0.5% 95%)
  }
}

  /*
    Dropcaps
    We've also added a color override .dropcap.--dc-colorName-XXX
    This has been added through Solus Tachyons.
  */
  .dropcap > p:first-of-type::first-letter {
    z-index: 10;
    display: inline-block;
    float: inline-start;
    color: var(--brand-cyan-dk);
    font-size: clamp(2rem, 2.5rlh, 2.5rlh);
    font-family: var(--serif);
    margin-block: -1rem -1rem;
    padding-block: 0;
    padding-inline: 0.05ch;
  }

  .dropcap::before {
    position: absolute;
    z-index: -1;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.5s ease-in-out;
    content: '';
    inset-block-start: 0.5em;
    inline-size: 100px;
    block-size: 100px;
    inset-inline-start: -4em;
  }

  .dropcap {
    position: relative;
    z-index: 0;
    background-color: transparent;
  }
