.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  inline-size: 100%;
  max-inline-size: var(--width-max-content, 1042px);
  margin: 0.5em auto;
  padding: 0 2em;
}

.full-width {
  padding: 1em inherit;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.word-wrap {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}


/* Stacking context https://every-layout.dev/layouts/stack/ */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--spaceing-2, 1.5rem);
}

.text-gradient {
  background-image: var(--accent-gradient);
  background-position: 0%;
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 2rem;
  padding: 0;
}

.poly-transition {
  transition: clip-path 1s ease-in-out;
}

.poly-1 {
  backface-visibility: hidden;
  clip-path: polygon(2% -10%, 101.5% 7%, 98.3% 116%, -0.5% 95%)
}

.poly-2 {
  /* Slows animateion? add remove after nav animation?
    backface-visibility: hidden;
  */
  clip-path: polygon(0% 0%, 50% 1em,100% 0, 100% 66%, 99% 100%, 0.8% 98%, 0% 70%);
}

.poly-3 {
  clip-path: polygon( 0.8% 0%, 99% 0%, 100% 100%, 100% 146%, 0% 93%)
}

.poly-shadow {
  filter: drop-shadow(2px 2px 0 var(--drop-shadow-color, rgb(0 0 0 / 20%)))
    drop-shadow(-1px 0 0 var(--drop-shadow-color, rgb(0 0 0 / 20%)));
}

@media (max-width: 700px) {
  .poly-1,
  .poly-2,
  .poly-3 {
    clip-path: none;
  }

  .poly-shadow {
    filter: none;
  }
}
