.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  inline-size: 100%;
  max-inline-size: var(--width-max-content, 1042px);
  margin: 0.5em auto;
  padding: 0 2em;
}

.full-width {
  padding: 1em inherit;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.word-wrap {
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}


/* Stacking context https://every-layout.dev/layouts/stack/ */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--spaceing-2, 1.5rem);
}

.text-gradient {
  background-image: var(--accent-gradient);
  background-position: 0%;
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 2rem;
  padding: 0;
}

.poly-transition {
  transition: clip-path 1s ease-in-out;
}

.poly-1 {
  backface-visibility: hidden;
  clip-path: polygon(2% -10%, 101.5% 7%, 98.3% 116%, -0.5% 95%)
}

.poly-2 {
  /* Slows animateion? add remove after nav animation?
    backface-visibility: hidden;
  */
  clip-path: polygon(0% 0%, 50% 1em,100% 0, 100% 66%, 99% 100%, 0.8% 98%, 0% 70%);
}

.poly-3 {
  clip-path: polygon( 0.8% 0%, 99% 0%, 100% 100%, 100% 146%, 0% 93%)
}

.poly-shadow {
  filter: drop-shadow(2px 2px 0 var(--drop-shadow-color, rgb(0 0 0 / 20%)))
    drop-shadow(-1px 0 0 var(--drop-shadow-color, rgb(0 0 0 / 20%)));
}

@media (max-width: 700px) {
  .poly-1,
  .poly-2,
  .poly-3 {
    clip-path: none;
  }

  .poly-shadow {
    filter: none;
  }
}

.rt-logo {
 background-color: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="Layer_1" x="0" y="0" version="1.1" viewBox="0 0 1417 992"><style>.st0{fill:%23ffce00}</style><path d="M968 538c5-25-8-106 15-110 59-16 96 20 94 87-1 57-38 105-92 102-31 0-17-79-17-79zm31 56c56-5 74-116 27-143l-2-1c-8-2-17-3-25-1-4 1-7 5-8 10l-2 124c0 6 4 11 10 11zm160-65c12 12 4 22-13 11h-4c-17 11-35 25-53 10l-1-1c-10-18 4-40 12-57v-4c-11-21-7-50 12-65l1-1c40-20 63 34 25 55v1c-5 3-19 7-12 13 12 16 22 33 32 17 2-4 8-2 7 2 0 5-3 10-6 14v5zm-41-55c18-9 40-32 14-45h-3c-15 4-21 28-16 43 0 2 3 3 5 2zm15 54c-15-22-28-29-32 4v1c1 17 22 9 32 0v-5zm140-83c24 54-23 138-77 92l-1-1c-32-44-21-124 14-162 42-41 80 33 53 25l-4-3c-6-12-16-20-28-17l-3 1c-46 36-54 185 26 141l4-5c26-88-8-45-24-61-4-4-4-10 0-13 8-7 23-1 34-2 3 0 5 2 6 5zM780 631c-19 2-32 103-48 10l1-3c29-31 86-39 57-104v-1c-73-76-123 86-96 147 25 75 115 3 89-47l-3-2zm-28-77 1 1c4 8 5 20 1 29v1c-29 39-22-43-2-31z" class="st0"/><path d="M823 498h1c12 2 20-5 29-12 79-58 67 87 15 42l-2-1c-3-6-12-4-13 3-5 29 0 94-3 105-5 13 21 17 13 29h-1c-11 12-34 11-49 17-23 5-12-18-10-31l1-2c-2-43 14-91-2-131l-1-2c-10-15 9-17 22-17zM677 635c1 17-4 37 3 53l1 2c12 13-3 33-19 28h-3c-50 1-14-189-48-116l-1 3c1 39-14 86 5 121h1c4 6 3 12-5 15-47 20-51 19-41-29v-2c-7-65 10-140-12-199-10-24 54-15 53 13v2c13 50 79-36 66 108v1z" class="st0"/><path d="M474 618c-11-7-10-15 2-20 18-11 9-41 30-51 34-19 10 45 37 38 6-2 16 5 14 11-11 21-34 3-30 45-4 201 24 8 34 88v1c-1 33-45 65-64 25-25-42 2-99-22-136" class="st0"/><path d="M460 747c-54 93-61-8-36-18h1c69-10 54-33 39-88v-1c-30-61-72 29-84-1-22-35-50 15-80 9l-1 1c-39 6-45 62-32 93v2c-3 54-27 112 59 85 42-4 12 58-16 58-23 3-16-47-43-42h-1c-60 34 29 89 68 58 61-39 47-149-38-124 116-27 22-142 71-105h1c9 3 10 9 8 17-37 197 133 113 90 55-2-2-5-1-6 1zm-48-56c2-11 1-48 12-33l1 1c17 42-12 62-13 32zm-101 47c-18 16-13-76 3-58l1 2c5 16 5 37-3 55l-1 1z" class="st0"/><path d="M239 695c-70-116-125 45-101 117 60 117 135-50 101-117zm-41 107c-29 84-45-148 5-90 4 29 0 63-5 90z" class="st0"/><path d="M69 737c-3-11 12-107-3-98-2 0-2 1-3 2-24 48-54 45-43-8l1-3c25-34 90-17 128-22 21-3 17 34 9 51v1c-17 26-28-40-37-23v4c0 54-26 168 2 206l1 1c5 5 3 12-5 16h-1c-106 25-29-49-49-127zm1294-628 1 2c8 27 35-9 24-28v-1c-6-18-23-16-38-7-21 15-55-6-73 20-31 35-14 59-11 98v2c-17 38 1 73 46 72 79-6-14 113-26 22l-1-2c-25-30-62 30-22 47 103 76 173-134 41-122-3 1-5-2-4-4 1-1 1-2 3-2 89-10 35-122 60-97zm-48 58c-23 27-27-47-12-60 21-21 23 49 12 60z" class="st0"/><path d="M1141 194v-1c-3-25 9-56-6-76-8-13 15-23 26-16 23 10 39-27 64-9 39 28 17 87 24 130v1c0 16 23 36 2 44h-1c-72 15-32-96-51-134-2-2-5-4-7-3-28 3-8 117-7 136l1 2c10 22-66 10-98 29l-4 1c-10-1-3-15-1-24v-2c-3-46 14-100-5-142l-1-2c-4-5-3-10 5-14 82-40 8 152 55 146 3 0 6-3 6-6 3-19-2-46-2-60z" class="st0"/><path d="M1125 74c1 33-48 33-50 3v-1c3-32 51-45 50-2zm-99 128c5 30-5 66 15 92 4 4 6 10-1 14h-1c-87 27-51 10-48-47-4-39 7-81-8-117-4-7-2-13 5-13h1c36 12 39-29 73-9 28 12 6 78-17 42l-1-1c-15-46-21 25-18 39z" class="st0"/><path d="M966 280c-24-2-23 99-51 7-5-33 66-16 60-51l-10-52c-4-31-45-37-62-12h-1c-49 45-33 237 55 169l1-2c7-14 35-55 8-59zm-42-80 2-4c10-5 7 30 8 37v1c0 8-6 10-11 12-2 1-5 0-6-2-7-10 5-31 7-44z" class="st0"/><path d="M861 227c-5-54-56-15-60-46 1-31-15-45-45-38-25 10 12 23 7 39 3 60 5 121 2 181-1 11 0 26 9 33 16 6 13-32 31-15 80 13 67-103 56-154zm-37 109c-18 49-33-115-13-112 20 6 16 90 13 112zm-71 30h-1c-32-68 28-195-99-131l-3 1c-29-7-42 34-71 25h-1c-9-1-13 4-8 14 8 9 14 120 3 137-1 2-5 2-6 0-2-6 4-15-9-17-19-5-14 22-22 32-21 40-54-27-25-40h1c18-13 58-16 50-45-74-235-188 218-11 107 19-14 48-4 69-15 10-3 10-11 4-19l-1-1c-41-144 30-217 12 0l1 3c12 14 36-6 52-10 8-3 9-10 3-18-15-32-9-72-13-106v-1c25-82 29 73 31 94 0 39 67 23 44-10zm-249-54v-1c14-37 34 64 4 55l-1-2c-9-14-3-36-3-52z" class="st0"/><path d="M341 441c17-183-37-4-18 59l1 2c15 22-63 42-48 13v-1c16-40 4-86 8-128 1-22-28-50 12-43l2 1c27 11 41-30 67-22h5c97-48 69 64 85 133v1c25 69-70 53-43-99v-1c-2-34-27-7-25 13v1c-1 26 0 52 1 79v1c-3 17 17 45 0 54l-1 1c-58 21-45-27-46-63v-1z" class="st0"/><path d="M274 486c-1-8-7-9-13-10h-2c-13 2-8 25-16 34-17 22-32-6-34-23-6-45 110 10 48-111l-1-1c-25-32-77-21-84 26v1c-27 88 58 236 102 86v-2zm-62-99c16-28 24 63 5 56l-1-1c-16-10-4-36-4-52v-3z" class="st0"/><path d="M174 542c-32-21-17-67-37-96 10-34 29-46 18-90 5-57-146-71-123-36 21 71 2 161 0 233 6 17 43 7 59 11 20-7-10-23-10-33 3-18-12-61 12-63 30 14 12 66 40 87 11 19 66 6 41-13zm-70-119c-35 45-29-83-19-95 50-6 41 69 19 95z" class="st0"/></svg>');
}
