:root {
  color: var(--brand-dk);
  background: var(--brand-surface-1);
  scroll-behavior: smooth;
}

/* Chrome overscroll bg-color */
html::before {
	position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
	z-index: -1;
  background-color: var(--brand-surface-2);
	content: "";
	block-size: 100vh;
	inline-size: 100vw;
}

*:focus:not(.di-underline-hover) {
  outline: 2px dotted currentcolor;
  outline-offset: .5ch;
  transition: outline 50ms ease-in-out;
  margin-block-end: 0;
}

*:focus:not(.di-underline-hover, .btn, .nav__toggle ){
   border-radius: 3px;
}

body {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  margin: 0 auto;
  color: var(--brand-surface-2);
  overflow-wrap: break-word;
  background-color: var(--brand-surface-1);
}

@media (max-width: 1280px) {
  body {
    max-inline-size: calc( 1280px - 1em);
  }
}

main {
  flex: 1 0 auto;
  padding-block-end: 2em;
}

header,
footer {
  flex: 0 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  inline-size: 100%;
  max-inline-size: var(--width-max-content, 1042px);
  margin: 0.5em auto;
  padding: 0 1em;
}

.full-width {
  padding: 1em inherit;
}


/* Stacking context https://every-layout.dev/layouts/stack/ */
/* stylelint-disable no-descending-specificity */
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--spaceing-2, 1.5rem);
}
/* stylelint-enable no-descending-specificity */


.btn {
  display: inline-block;
  padding: 0.5em 2em;
  font-weight: 700;
  font-weight: inherit;
  letter-spacing: inherit;
  text-decoration: none;
  border: 0;
  border-radius: 100px;
  outline: 2px dotted transparent;
  outline-offset: .5ch;
  cursor: pointer;
  inline-size: fit-content;
}

.btn:hover,
.btn:focus {
  color: var(--brand-surface-1);
  background-color: var(--brand-surface-2);
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
}

.text-gradient {
  background-image: var(--accent-gradient);
  background-position: 0%;
  background-size: 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
  gap: 2rem;
  padding: 0;
}
