@font-face {
  font-weight: bold;
  font-family: Nunito;
  font-style: normal;
  src: url('/fonts/Nunito/static/Nunito-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: Nunito;
  font-style: italic;
  src: url('/fonts/Nunito/static/Nunito-BoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Yeseva One", serif;
  font-style: normal;
  src: url('/fonts/YesevaOne/YesevaOne-Regular.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: Nunito;
  font-style: italic;
  src: url('/fonts/Nunito/static/Nunito-Italic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Nunito;
  font-style: italic;
  src: url('/fonts/Nunito/static/Nunito-MediumItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: Nunito;
  font-style: normal;
  src: url('/fonts/Nunito/static/Nunito-Regular.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Nunito;
  font-style: normal;
  src: url('/fonts/Nunito/static/Nunito-Medium.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Nunito;
  font-style: italic;
  src: url('/fonts/Nunito/static/Nunito-SemiBoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Nunito;
  font-style: normal;
  src: url('/fonts/Nunito/static/Nunito-SemiBold.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: Lora;
  font-style: italic;
  src: url('/fonts/Lora/static/Lora-BoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: Lora;
  font-style: italic;
  src: url('/fonts/Lora/static/Lora-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: Lora;
  font-style: normal;
  src: url('/fonts/Lora/static/Lora-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: Lora;
  font-style: normal;
  src: url('/fonts/Lora/static/Lora-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Lora;
  font-style: normal;
  src: url('/fonts/Lora/static/Lora-SemiBold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Lora;
  font-style: italic;
  src: url('/fonts/Lora/static/Lora-SemiBoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

:root {
  --sans: "Nunito", -apple-system, blinkmacsystemfont, 'avenir next', avenir, 'segoe ui',
    'helvetica neue', helvetica, cantarell, ubuntu, roboto, noto, arial,
    sans-serif;
  --serif: "Yeseva One", 'Iowan Old Style', 'Times New Roman', baskerville,
    'Droid Serif', times, 'Source Serif Pro', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', serif;
  --mono: menlo, consolas, monaco, 'Liberation Mono', 'Lucida Console',
    monospace;
  --headings: var(--serif);
  --body: var(--sans);
}

/* TODO: set font sizes weight for headings  */

/* TODO: set font families for body */
.sans {
  font-family: var(--sans);
}

.serif {
  font-family: var(--serif);
}

.mono {
  font-family: var(--mono);
}
