/* Yeseva One */
@font-face {
  font-weight: 400;
  font-family: "Yeseva One", serif;
  font-style: normal;
  src: url('/fonts/YesevaOne/YesevaOne-Regular.woff2') format('woff2');
  font-display: swap;
}

/* Nunito */
@font-face {
  font-weight: bold;
  font-family: Nunito;
  font-style: normal;
  src: url('/fonts/Nunito/static/Nunito-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: Nunito;
  font-style: italic;
  src: url('/fonts/Nunito/static/Nunito-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: Nunito;
  font-style: italic;
  src: url('/fonts/Nunito/static/Nunito-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Nunito;
  font-style: italic;
  src: url('/fonts/Nunito/static/Nunito-MediumItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: Nunito;
  font-style: normal;
  src: url('/fonts/Nunito/static/Nunito-Regular.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: Nunito;
  font-style: normal;
  src: url('/fonts/Nunito/static/Nunito-Medium.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Nunito;
  font-style: italic;
  src: url('/fonts/Nunito/static/Nunito-SemiBoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Nunito;
  font-style: normal;
  src: url('/fonts/Nunito/static/Nunito-SemiBold.woff2')
    format('woff2');
  font-display: swap;
}

/* Lora */

@font-face {
  font-weight: bold;
  font-family: Lora;
  font-style: italic;
  src: url('/fonts/Lora/static/Lora-BoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: Lora;
  font-style: italic;
  src: url('/fonts/Lora/static/Lora-Italic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: Lora;
  font-style: normal;
  src: url('/fonts/Lora/static/Lora-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: Lora;
  font-style: normal;
  src: url('/fonts/Lora/static/Lora-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Lora;
  font-style: normal;
  src: url('/fonts/Lora/static/Lora-SemiBold.woff2')
   format('woff2');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: Lora;
  font-style: italic;
  src: url('/fonts/Lora/static/Lora-SemiBoldItalic.woff2')
    format('woff2');
  font-display: swap;
}

/* Alegreya SC */

@font-face {
    font-weight: 900;
    font-family: 'Alegreya SC';
    font-style: normal;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: bold;
    font-family: 'Alegreya SC';
    font-style: normal;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 900;
    font-family: 'Alegreya SC';
    font-style: italic;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-BlackItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: bold;
    font-family: 'Alegreya SC';
    font-style: normal;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-ExtraBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: bold;
    font-family: 'Alegreya SC';
    font-style: italic;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-ExtraBoldItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: bold;
    font-family: 'Alegreya SC';
    font-style: italic;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-BoldItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: normal;
    font-family: 'Alegreya SC';
    font-style: italic;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-Italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: 'Alegreya SC';
    font-style: italic;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-MediumItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: 'Alegreya SC';
    font-style: normal;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: normal;
    font-family: 'Alegreya SC';
    font-style: normal;
    src: url('/fonts/Alegreya_SC/AlegreyaSC-Regular.woff2') format('woff2');
    font-display: swap;
}

/* Alegreya */

@font-face {
    font-weight: 900;
    font-family: Alegreya;
    font-style: normal;
    src: url('/fonts/Alegreya/static/Alegreya-Black.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: bold;
    font-family: Alegreya;
    font-style: normal;
    src: url('/fonts/Alegreya/static/Alegreya-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 900;
    font-family: Alegreya;
    font-style: italic;
    src: url('/fonts/Alegreya/static/Alegreya-BlackItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: bold;
    font-family: Alegreya;
    font-style: normal;
    src: url('/fonts/Alegreya/static/Alegreya-ExtraBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: bold;
    font-family: Alegreya;
    font-style: italic;
    src: url('/fonts/Alegreya/static/Alegreya-ExtraBoldItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: bold;
    font-family: Alegreya;
    font-style: italic;
    src: url('/fonts/Alegreya/static/Alegreya-BoldItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: normal;
    font-family: Alegreya;
    font-style: italic;
    src: url('/fonts/Alegreya/static/Alegreya-Italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: Alegreya;
    font-style: italic;
    src: url('/fonts/Alegreya/static/Alegreya-MediumItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: Alegreya;
    font-style: normal;
    src: url('/fonts/Alegreya/static/Alegreya-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: Alegreya;
    font-style: normal;
    src: url('/fonts/Alegreya/static/Alegreya-Regular.woff2') format('woff2');
    font-display: swap;
}

/* Josefin Sans */

@font-face {
    font-weight: 100;
    font-family: "Josefin Sans Thin" sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-Thin.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 100;
    font-family: "Josefin Sans Thin Italic" sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-ThinItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 200;
    font-family: "Josefin Sans Extra Light" sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-ExtraLight.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 200;
    font-family: "Josefin Sans Extra Light Italic" sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-ExtraLightItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 300;
    font-family: "Josefin Sans Light" sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 300;
    font-family: "Josefin Sans Light Italic" sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-LightItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: "Josefin Sans Regular" sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 400;
    font-family: "Josefin Sans Italic" sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-Italic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: "Josefin Sans Medium" sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-Medium.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 500;
    font-family: "Josefin Sans Medium Italic" sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-MediumItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 600;
    font-family: "Josefin Sans Semi Bold" sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-SemiBold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 600;
    font-family: "Josefin Sans Semi Bold Italic" sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-SemiBoldItalic.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-family: "Josefin Sans Bold" sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-Bold.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-weight: 700;
    font-family: "Josefin Sans Bold Italic" sans-serif;
    font-optical-sizing: auto;
    font-style: italic;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-BoldItalic.woff2') format('woff2');
    font-display: swap;
}

:root {
  --sans: "Nunito", -apple-system, blinkmacsystemfont, 'avenir next', avenir, 'segoe ui',
    'helvetica neue', helvetica, cantarell, ubuntu, roboto, noto, arial,
    sans-serif;
  --serif: "Yeseva One", 'Iowan Old Style', 'Times New Roman', baskerville,
    'Droid Serif', times, 'Source Serif Pro', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', serif;
  --mono: menlo, consolas, monaco, 'Liberation Mono', 'Lucida Console',
    monospace;
  --headings: var(--serif);
  --body: var(--sans);
}

/* TODO: set font sizes weight for headings  */

/* TODO: set font families for body */
.sans {
  font-family: var(--sans);
}

.serif {
  font-family: var(--serif);
}

.mono {
  font-family: var(--mono);
}
