@import url('./fonts.css');

:root {
  --fluid-base: min(max(.9rem, 4vw), 18px);

  /* Set base typography defaults */
  font-weight: normal;
  font-size: 16px;
  font-size: var(--fluid-base);
  font-family: var(--sans);
  font-style: normal;
  line-height: 1.5;
  font-display: swap;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: var(--headings);
  font-style: bold;
  line-height: 1.1;
  text-wrap: balance;
  word-break: auto-phrase;
  hyphens: auto;
  margin-block-end: 1rem;
}

a {
  color: var(--brand-cyan-dk);
  letter-spacing: 0;
}

a:hover,
a:focus {
  font-weight: 500;
  letter-spacing: -0.007ch;
}

p,
ul,
ol {
  margin-block: var(--spacing-2) var(--spacing-2);
  font-weight: normal;
  font-size: 1rem;
  font-family: var(--body);
  font-style: normal;
  line-height: 1.5;
}

p {
  text-wrap: pretty;
  word-break: auto-phrase;
  hyphens: auto;
}


p:empty {
  display: none;
}

b,
.strong {
  font-weight: bold;
}

i {
  font-style: italic;
}
