@import './fonts.css';

:root {
  /* Set base font size and family */
  font-size: 16px;
  font-family: var(--body-font);

  /* Set base line height */
  line-height: 1.5;

  /* Set base font weight and style */
  font-weight: normal;
  font-style: normal;

  /* Set font display property */
  font-display: swap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--headings-font);
  font-weight: 600;
  font-style: bold;
}
.h1,
h1 {
  font-size: 2.5rem;
}

.h2,
h2 {
  font-size: 2rem;
}
.h3,
h3 {
  font-size: 1.75rem;
}
.h4 h4 {
  font-size: 1.5rem;
}
.h5,
h5 {
  font-size: 1.25rem;
}
.h6,
h6 {
  font-size: 1rem;
}

p,
ul,
ol {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  font-family: var(--body);
  font-weight: normal;
  font-style: normal;
}

.b,
strong {
  font-weight: bold;
}

.i,
i {
  font-style: italic;
}

a {
  /*text-decoration: none; */
}
