:where(html) {
  /* Brand */

  /* See ../vendor/tachyons-css/css/tachyons.css */

  /*
  --brand-dk: var(--mine-shaft-800);
  --brand-lt: var(--desert-storm-50);
  */
  --brand-surface-1: var(--brand-lt);
  --brand-surface-2: var(--brand-dk);
  --brand-tc-1-lt: var(--brand-dk);
  --brand-tc-2-lt: var(--brand-dk);
  --brand-tc-1-dk: var(--brand-lt);
  --brand-tc-2-dk: var(--brand-lt);
  --brand-surface-1-lt: var(--brand-lt);
  --brand-surface-2-lt: var(--brand-lt);
  --brand-surface-3-lt: var(--brand-lt);
  --brand-surface-4-lt: var(--brand-lt);
  --brand-surface-1-dk: var(--brand-lt);
  --brand-surface-2-dk: var(--brand-lt);
  --brand-surface-3-dk: var(--brand-lt);
  --brand-surface-4-dk: var(--brand-lt);

     /* Header  */
  --header-height: 175px;
  --header-nav-transition: ease-in-out;
  --header-nav-transition-duration: 700ms;
  --header-nav-left-color: var(--brand-teal);
  --header-nav-right-color: var(--brand-orange);
  --header-img-bg-color: var(--brand-teal-dk);
  --header-img-gradent: linear-gradient(
      0deg,
      var(--brand-teal-dk) 0%,
      hsl(190deg 100% 50% / 0%) 100%
    );

  /* Site */
  --width-max-screen: 1280px;
  --width-max-content: 1042px;

  /* prefers-color-scheme: light */
  --brand: var(--brand-lt);
  --tc-1: var(--brand-tc-1-lt);
  --tc-2: var(--brand-tc-2-lt);
  --surface-fg: var(--brand-surface-1-lt);
  --surface-bg: var(--brand-surface-2-dk);
}

@media (prefers-color-scheme: dk) {
  :where(html) {
    --brand: var(--brand-dk);
    --tc-1: var(--brand-tc-1-dk);
    --tc-2: var(--brand-tc-2-dk);
    --surface-fg: var(--brand-surface-1-dk);
    --surface-bg: var(--brand-surface-2-lt);
  }
}
