---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Audio from '../../components/Audio2.astro'

import mp3 from '../../content/media/wt-noise.m4a'
// const mp3 =
//   'https://raw.githubusercontent.com/memorialforestdg/media-archive/main/media/audio/whitenoise-lg.mp3'
import img from '../../images/RememberingTogetherDG_imageGregorAnderson_full.jpg'
---

<BaseLayout pageTitle="Test of Embeds">
  <main id="main">
    <div class="container full-width">
      <div class="embeds__wrap w-100">
        <Audio
          src={mp3}
          title="White Noise"
          artwork:
          img,
          artworkAlt:
          'Audio
          Artwork',
          preload:
          'auto',
          colors:
          {accentColor: '#5b5be8',
              progressColor: '#5b5be8',
              bufferColor: 'rgb(73 73 73 / 81%)'
            }}
          controls:
          {volume: true,
              volumeStart: 0.35,
              download: true,
              loop: true,
              playbackSpeeds: [
                {speed: 1},
                {speed: 1.5},
                {speed: 2.5, default: true}
              ]}
          }}
        />
      </div>
    </div>
  </main>
</BaseLayout>
