---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Breadcrumbs from '~components/Breadcrumbs.astro'
---

<BaseLayout pageTitle="Test of Breadcrumbs">
  <main id="main">
    <div class="container full-width">
      <h2>Breadcrumbs</h2>
      <Breadcrumbs />
    </div>
  </main>
</BaseLayout>
