---
import Gallery from '../../components/Gallery.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import img1 from '../../images/RememberingTogetherWBF22HighRes51_ImageColinTennant.jpeg'
import img2 from '../../images/RememberingTogetherDG_imageGregorAnderson_full.jpg'
import Card from '../../components/Card.astro'
---

<BaseLayout pageTitle="Test of Cards layout">
  <main id="main">
    <div class="container full-width">
      <h2>Cards layout</h2>
      <div class="cards__wrap">
        <ul class="list">
          <li>
            <Card
              title="Card 1"
              imgUrl={img1}
              alt="Gregor Anderson"
              url="https://en.wikipedia.org/wiki/Gregor_Anderson"
              footer="Footer?"
              wrapClasses="grid gap-2 ma-2 bg-surface-1 br2 overflow-hidden"
              headerClasses="flex flex-end relative bg-brand-teal-dk relative br-2"
              headingWrapClasses="absolute flex flex-column align-start justify-end w-100 pl-3 min-h-25"
              headingClasses="f3 brand-yellow-lt ma-2"
              contentClasses="flex flex-column gap-2 pl-3 pr-3"
              footerClasses="pa-0 pl-3 pr-3 pb-3">Some Content here</Card
            >
          </li>
          <li>
            <Card
              title="Card 1"
              imgUrl={img2}
              alt="Gregor Anderson"
              url="https://en.wikipedia.org/wiki/Gregor_Anderson"
              footer="Footer?"
              wrapClasses="grid gap-2 ma-2 bg-surface-1 br2 overflow-hidden"
              headerClasses="flex flex-end relative bg-brand-teal-dk relative br-2"
              headingWrapClasses="absolute flex flex-column align-start justify-end w-100 pl-3 min-h-25"
              headingClasses="f3 brand-yellow-lt ma-2"
              contentClasses="pl-3 pr-3"
              footerClasses="pa-0 pl-3 pr-3 pb-3">Some Content here</Card
            >
          </li>
        </ul>
      </div>
    </div>
  </main>
</BaseLayout>
