---
import Gallery from '../../components/Gallery.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import img1 from '../../images/RememberingTogetherDG_imageGregorAnderson_croppedHorizontal.jpg'
import img2 from '../../images/RememberingTogetherDG_imageGregorAnderson_full.jpg'
---

<BaseLayout pageTitle="Test Gallery">
  <main id="main">
    <div class="container full-width">
      <h2>
        A basic gallery, with iamges loaded directly, and a custom cell height.
      </h2>
      <Gallery
        images={[img1, img2]}
        galleryWraperClasses={'flex flex-wrap flex-row bt bb w-100 justify-center b--desert-200'}
        galleryUlClasses={'pa-0 flex flex-row flex-wrap gap-2 justify-center measure-4'}
        cellLiClasses={'list flex'}
        cellClasses={'flex pa-0 ma-0 bg-brand-purple grow shadow-hover br1'}
        targetCellHeight={225}
      />
      <h2>A gallery loaded via collection & album IDs</h2>
      <Gallery
        collectionId="albums"
        albumId="tree_sketches"
        galleryWraperClasses={'flex flex-wrap flex-row'}
        galleryUlClasses={'pa-0 flex flex-row flex-wrap gap-2 justify-center measure-4'}
        cellLiClasses={'flex pa-0 ma-0 flex-grow shadow-hover'}
        cellClasses={'flex pa-0 ma-0 bg-brand-purple flex-grow shadow-hover br1'}
      />
    </div>
  </main>
</BaseLayout>
