---
import PrimaryNav from '../components/PrimaryNav.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="404: Not Found">
  <main id="main">
    <div class="container full-width">
      <div class="pt-3 nb-5">
        <p class="f3">Sorry we could not find the page you were looking for.</p>
      </div>
      <PrimaryNav />
    </div>
  </main>
</BaseLayout>
