---
import PrimaryNav from '../components/PrimaryNav.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="Not Found: 404">
  <main id="main">
    <div class="container full-width">
      <div class="pt-5">
        <h2p class="f3">
          Sorry we couldn't find the page you were looking for...
        </h2p>
      </div>
      <PrimaryNav />
    </div>
  </main>
</BaseLayout>
