---
import PrimaryNav from '../components/PrimaryNav.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="Page List">
  <main id="main">
    <div class="container full-width">
      <PrimaryNav />
    </div>
  </main>
</BaseLayout>
