---
import Gallery from '../components/Gallery.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle="Test Gallery">
  <main id="main">
    <div class="container full-width">
      <Gallery
        collectionId="albums"
        albumId="foo"
        galleryWraperClasses={['flex', 'flex-wrap', 'flex-row']}
        galleryListClasses={[
          'pa-0',
          'flex',
          'flex-row',
          'flex-wrap',
          'gap-2',
          'justify-center',
          'measure-4'
        ]}
        cellClasses={[
          'flex',
          'pa-0',
          'ma-0',
          'bg-brand-purple',
          'grow',
          'shadow-hover',
          'br2'
        ]}
      />
    </div>
  </main>
</BaseLayout>
