---
// Conditionally put a link to cannonical mirror in the footer.
// Relies on PUBLIC_CANNONICAL set in both .env for dev, and in .github/workflows/astro.yml for deploy.

import {PUBLIC_CANONICAL} from 'astro:env/server'

console.log('PUBLIC_CANONICAL', PUBLIC_CANONICAL)
console.log('import.meta.env.BASE_URL', import.meta.env.BASE_URL)
console.log(
  'import.meta.env.PUBLIC_CANONICAL',
  import.meta.env.PUBLIC_CANONICAL
)
console.log('import.meta.env?.SITE', import.meta.env?.SITE)
---

<>
  {
    import.meta.env?.SITE !== PUBLIC_CANONICAL && (
      <li class="ml-1">
        <span class="dn di-ns" aira-hidden>
          |
        </span>{' '}
        mirrror:{' '}
        <a
          href={PUBLIC_CANONICAL}
          class="sans di-underline-hover burnt-sienna-1"
        >
          {PUBLIC_CANONICAL?.replace(/^https:\/\//, '')}
        </a>
      </li>
    )
  }
</>
