---
// Conditionally put a link to cannonical mirror in the footer.
// Relies on PUBLIC_CANNONICAL set in both .env for dev, and in .github/workflows/astro.yml for deploy.

import {PUBLIC_CANONICAL} from 'astro:env/server'
---

<>
  {
    import.meta.env?.SITE !== PUBLIC_CANONICAL && (
      <li class="ml-1">
        <span class="dn di-m" aira-hidden>
          |
        </span>{' '}
        mirrror:{' '}
        <a
          href={PUBLIC_CANONICAL}
          class="sans di-underline-hover burnt-sienna-1"
        >
          {PUBLIC_CANONICAL?.replace(/^https:\/\//, '')}
        </a>
      </li>
    )
  }
</>
