---
import Logjam from "./Logjam.astro";
import CannonicalFooterLink from "./CanonicalFooterLink.astro";
---

<footer>
  <div class="container pa-0 mb-0">
    <nav class="container socials pa-0 bt b--jet-100" aria-label="Socials">
      <ul
        class="list f7 ma-0 pa-0 pt-2 flex justify-center flex flex-column flex-row-ns flex-wrap align-center sans"
      >
        <li class="mr-1">
          fb:
          <a
            href="https://facebook.com/rememberingtogetherdg"
            class="sans di-underline-hover burnt-sienna-1"
            >@rememberingtogetherdg</a
          >
        </li>
        <li aira-hidden><span class="dn di-ns di-l">|</span></li>
        <li class="mr-1 ml-1">
          insta:
          <a
            href="https://instagram.com/rememberingtogetherdg"
            class="sans di-underline-hover burnt-sienna-1"
            >@rememberingtogetherdg</a
          >
        </li>
        <li aira-hidden><span class="dn di-ns di-l">|</span></li>
        <li class="ml-1">
          x:
          <a
            href="https://x.com/covidmemorialdg"
            class="sans di-underline-hover burnt-sienna-1">@covidmemorialdg</a
          >
        </li>
        <CannonicalFooterLink />
      </ul>
    </nav>
  </div>
  <div class="full-width pt-3 pb-3 mb-0 bg-brand-teal-dk"><Logjam /></div>
</footer>
