---
// nothing yet
---

<>
  <nav class="nav__primary w-80 gap-4" aria-label="Main">
    <div>
      <h3 class="mb-0 f3">Visit</h3>
      <ul class="list flex flex-column pa-0 gap-2">
        <li>
          <a class="di-underline-hover" href="/visit/"
            >The Dispersed Memorial Forest</a
          >
        </li>
        <ul class="list flex flex-column flex-wrap pa-0 ma-0 ml-2 gap-2">
          <li>
            <a class="di-underline-hover" href="/visit/castle-douglas"
              >Castle Douglas</a
            >
          </li>
          <li>
            <a class="di-underline-hover" href="/visit/dumfries">Dumfries</a>
          </li>
          <li>
            <a class="di-underline-hover" href="/visit/moffat">Moffat</a>
          </li>
          <li>
            <a class="di-underline-hover" href="/visit/sanquhar">Sanquhar</a>
          </li>
          <li>
            <a class="di-underline-hover" href="/visit/stranraer">Stranraer</a>
          </li>
        </ul>
      </ul>
    </div>
    <div>
      <h3 class="mb-0 f3">About</h3>
      <ul class="list flex flex-column pa-0 gap-2 flex-grow-1">
        <li>
          <a class="di-underline-hover" href="/about/">Intro</a>
        </li>
        <ul class="list flex flex-row flex-wrap pa-0 ma-0 gap-2">
          <li>
            <a class="di-underline-hover" href="/about/phase-1">Phase 1</a>
          </li>
          &
          <li>
            <a class="di-underline-hover" href="/about/phase-2">Phase 2</a>
          </li>
        </ul>
        <li>
          <a class="di-underline-hover" href="/about/planting-the-forest">
            Planting the Forest
          </a>
        </li>
        <li>
          <a class="di-underline-hover" href="/about/makeing-the-markers">
            Making the Markers
          </a>
        </li>
        <li>
          <a class="di-underline-hover" href="/about/the-artists">The Artists</a
          >
        </li>
        <li>
          <a class="di-underline-hover" href="/about/partners-funders"
            >Partners & Funders</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h3 class="mb-0 f3">Stories</h3>
      <ul class="list flex flex-column pa-0 gap-2 flex-grow-1">
        <li>
          <a class="di-underline-hover" href="/stories/covid-interviews"
            >Covid Interviews</a
          >
        </li>
        <li>
          <a class="di-underline-hover" href="/stories/postcards-from-dg"
            >Postcards from D&G</a
          >
        </li>
      </ul>
    </div>
  </nav>
</>
<style is:global>
  .nav__primary {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .header__main .nav__primary {
    margin: 80px auto 0;
  }

  @media screen and (min-width: 768px) {
    .nav__primary {
      align-items: start;
    }

    .header__main .nav__primary {
      display: grid;
      grid-template-columns: repeat(3, 0.6fr);
      gap: var(--spacing-3);
      align-items: center;
      justify-content: center;
      margin: 50px auto 0;
    }

    ul {
      font-family: var(--sans);
    }
  }
</style>
