---
import BaseLayout from './BaseLayout.astro'
import loadModule from '../js/loadModule'
const {frontmatter} = Astro.props

const BannerImage = await loadModule(frontmatter?.bannerImage)
---

<BaseLayout
  pageTitle={frontmatter.pageTitle}
  bannerImage={BannerImage?.default}
>
  <main id="main ">
    <div class="container full-width">
      <div class="markdown-content measure-3 pt-4">
        <slot />
      </div>
    </div>
  </main>
</BaseLayout>
<style is:global>
  .markdown-content {
    line-height: 1.6;
  }

  .markdown-content > p:first-of-type::first-letter {
    float: left;
    margin-top: calc(-1 * 0.5cap);
    margin-bottom: -0.25cap;
    padding-top: 0;
    padding-right: 0.05ch;
    padding-left: 0.05ch;
    color: var(--brand-cyan-dk);
    font-size: clamp(2rem, 2.5rlh, 2.5rlh);
    font-family: var(--serif);
  }
</style>
